<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>546823634066-g3ko209u8bqng14u2sdca0nbn4jbl7vo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.546823634066-g3ko209u8bqng14u2sdca0nbn4jbl7vo</string>
	<key>API_KEY</key>
	<string>AIzaSyDjhvSTYP8l0RGhHsmZIfcR20HN4AB1880</string>
	<key>GCM_SENDER_ID</key>
	<string>546823634066</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shirinabadi.LarkLand</string>
	<key>PROJECT_ID</key>
	<string>larkland-73246</string>
	<key>STORAGE_BUCKET</key>
	<string>larkland-73246.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:546823634066:ios:212af49e52a0899089ba4b</string>
</dict>
</plist>